{% extends 'base.html.twig' %}

{% block title %}Product Controller!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div id="app">

</div>
{% endblock %}
